<p>name-input-display works!</p>
<h3>Username</h3>
<input
    type="text"
    class="form-control"
    [(ngModel)] = "Username">
    <!--making a note here that paranthesis () is a markup that is worth checking right away-->
    <p>ngModel username input</p>
<input
    type="text"
    class="form-control"
    (input)="onUpdateUsername($event)">
    <p>Event input</p>
    <p>Username: {{Username}}</p>
<button class="btn btn-main"
    [disabled]="!usernameInputEmpty"
    (click)="handleClick()">
    Change username
</button>
